<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                @for (tempProduct of product; track tempProduct.productId) {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4">
                        <img [src]="tempProduct.imageURL" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ tempProduct.name }}</h5>
                            <p class="card-text">Price: ₹{{ tempProduct.unitPrice }}</p>
                            <a class="btn btn-primary" (click)="addToCart(tempProduct)">Add to cart</a>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>